[filter "hawser"]
    clean = git hawser clean %f
    smudge = git hawser smudge %f
    required = true

[user]
    name = Ahmad Fatoum
    email = ahmad@a3f.at
    signingkey = C3EAC3DE9321D59B
[filter "lfs"]
    clean = git lfs clean %f
    smudge = git lfs smudge %f
    required = true
[diff]
    tool = vimdiff
[alias]
    d = difftool
    s = status
    git = "!exec git"
    pushf = push --force-with-lease
[difftool]
    prompt = false
[grep]
    patternType = perl
    lineNumber = true
[push]
    default = current
[core]
    editor = nvim -u ~/.vimrc.minimal
[commit]
    verbose = true
    gpgsign = true
[github]
    user = a3f
[gpg]
    program = gpg
[pull]
    rebase = preserve
[sendemail]
    smtpserver = mail.gandi.net 
    smtpserverport = 587
    smtpencryption = tls
    smtpuser = ahmad@a3f.at
