[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[user]
	name = Ahmad Fatoum
	email = a.fatoum@pengutronix.de
	signingkey = 2F8DCED461C2D19830DFA8C392D27EE7691CBDFE
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[diff]
	tool = vimdiff
	submodule = log
[alias]
	cherry = cherry-pick
    	pick = cherry-pick
	d = difftool
	s = status
	git = "!exec git"
	pushf = push --force-with-lease
	microcom = !/home/afa/bin/git-as.sh ~/.ssh/github-microcom_rsa
	ack = -c color.grep.linenumber=\"bold yellow\"\n -c color.grep.filename=\"bold green\"\n -c color.grep.match=\"reverse yellow\"\n grep --break --heading --line-number
[difftool]
	prompt = false
[format]
	pretty=fuller
[grep]
	patternType = perl
	lineNumber = true
[push]
	default = current
[core]
	editor = vim -u ~/.vimrc.minimal
	abbrev = 12
	attributesfile = ~/.gitattributes
[commit]
	verbose = true
	gpgsign = false
[github]
	user = a3f
[gpg]
	program = gpg
[pull]
	rebase = preserve
[sendemail]
	from = Ahmad Fatoum <a.fatoum@pengutronix.de>
	confirm = always
	signedoffbycc = false
	suppresscc = self
[pretty]
	fixes = Fixes: %h (\"%s\")
[rebase]
	instructionFormat = %ai (%an) %s
	autoStash = true
[status]
	submodulesummary = true
[sendmail]
	annotate = true
[diff "tasklist"]
	xfuncname = "^\\[.\\] [0-9]+\\.[0-9]+ Prio [^ ]+:.*$"
